# my.cnf

[mysqld]
# 设置MySQL的字符集
USER = mysql
character-set-server = utf8mb4
MYSQL_ROOT_PASSWORD = 123456
MYSQL_ALLOW_EMPTY_PASSWORD = 0
MYSQL_RANDOM_ROOT_PASSWORD = 0

# 设置MySQL的默认存储引擎
default-storage-engine = InnoDB

# 设置MySQL的监听地址和端口
bind-address = 0.0.0.0
port = 3306

# 设置MySQL的数据目录
datadir = /var/lib/mysql/data

# 设置MySQL的日志文件
# log-error = /Users/user/Desktop/mine/prj-aiee/sql/error.log

# 设置InnoDB缓冲池大小
innodb_buffer_pool_size = 256M